.container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

li {
  margin: 10px;
  cursor: pointer;
  width: 80px;
  align-items: center;
  justify-items: center;
  border-right: 1px solid blue;
}

.lang {
  list-style: none;
  color: blue;
}

li:nth-child(3) {
  border: none;
}
